body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.title {
  position:absolute;
  top: 4px;
  left: 10px;
  color: #e78080;
  margin: 10px;
  font-size: 50px;
}